---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>our house...</h2>
        <ul class="icons">
          <li>
            <a href="../pages/article.astro" class="icon brands fa fa-superpowers" aria-label="Social" aria-hidden="true">
              <span class="label">more</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa fa-book" aria-label="Social" aria-hidden="true">
              <span class="label">book</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa-instagram" aria-label="Social">
              <span class="label">Instagram</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa-github" aria-label="Social">
              <span class="label">GitHub</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa-dribbble" aria-label="Social">
              <span class="label">Dribbble</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa-linkedin-in" aria-label="Social">
              <span class="label">LinkedIn</span>
            </a>
          </li>
        </ul>
      </section>
      <p class="copyright">
        &copy; AREA44. Design: <a href="http://html5up.net">HTML5 UP</a>.<br />
         Images: <a href="http://unsplash.com">Unsplash</a>
      </p>
    </div>
    <div>
      <section>
        <h2>Get in touch</h2>
        <form method="post" action="#">
          <div class="fields">
            <div class="field half">
              <input type="text" name="name" id="name" placeholder="Name" />
            </div>
            <div class="field half">
              <input type="text" name="email" id="email" placeholder="Email" />
            </div>
            <div class="field">
              <textarea
                name="message"
                id="message"
                rows="4"
                placeholder="Message"></textarea>
            </div>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send" class="primary" /></li>
            <li><input type="reset" value="Reset" /></li>
          </ul>
        </form>
      </section>
    </div>
  </div>
</footer>
