---
const { title, description } = Astro.props
---

<footer id="footer" class="panel">
  <div class="inner split">
    <div>
      <section>
        <h2>{title}</h2>
        <p>{description}</p>
      </section>
      <section>
        <h2>our house...</h2>
        <ul class="icons">
          <li>
            <a href="#" class="icon brands fa fa-superpowers" aria-hidden="true">
              <span class="label">more</span>
            </a>
          </li>
          <li>
            <a href="#" class="icon brands fa-github" aria-label="Social">
              <span class="label">GitHub</span>
            </a>
          </li>
        </ul>
      </section>
      <p class="copyright">
        &copy; AP-Tech Design: <a href="http://html5up.net">HTML5 UP</a>.<br />
        with Technology: <a href="https://astro.build">Astro</a> & <a href="https:///vercel.com">Vercel</a>
      </p>
    </div>
  </div>
</footer>
